.input{
    width: 200px;
    height: 16px;
    padding: 12px 16px;
    font-size: 16px;
    margin: 0;
    vertical-align: top;
    outline: 0;
    box-shadow: none;
    border-radius: 10px 0 0 10px;
    border: 2px solid #c4c7ce;
    background: #fff;
    color: #222;
    overflow: hidden;
    

}
    
.addBtn{
    font-size: 20px;
    cursor: pointer;
    width: 108px;
    height: 44px;
    line-height: 45px;
    line-height: 44px\9;
    padding: 0;
    background: 0 0;
    background-color: #4e6ef2;
    border-radius: 0 10px 10px 0;
    font-size: 17px;
    color: #fff;
    box-shadow: none;
    font-weight: 400;
    border: none;
    outline: 0;
    
}
.todo-label{
    color:#4e9af2a8;
    font-size: large;
}
.todo-date-time{
    color: #4e9af2a8;
    font-size: large;
}
.todo-done{
    padding: 8px 20px;
    margin-top: 8px;
    display: inline-block;
    border: 1px solid #d9d9d9;
    color: rgb(110, 109, 109);
    font-size: 13px;
    text-decoration: none;
}
.todo-edit{
    padding: 8px 20px;
    margin-top: 8px;
    display: inline-block;
    border: 1px solid #d9d9d9;
    color: rgb(110, 109, 109);
    font-size: 13px;
    text-decoration: none;
}
.todo-delete{
    padding: 8px 20px;
    margin-top: 8px;
    display: inline-block;
    border: 1px solid #d9d9d9;
    color: rgb(110, 109, 109);
    font-size: 13px;
    text-decoration: none;
}
.done{
    text-decoration: line-through;
}